html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 1rem;
  padding: 1rem;
}

#alert-container {
  margin: 0;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 1000;
}

.panel-title > span.fa {
	margin-right: 1rem;
}

.panel-body {
	padding-left: 8rem;
  position: relative;
  min-height: 8rem;
}

.panel-avatar {
	height: 8rem;
  width: 8rem;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
