html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  padding: 10px;
}

.card-block {
	padding-left: 5rem;
  position: relative;
}

.card-avatar {
	height: 5em;
  width: 5em;
  padding: .5em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
