html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 1rem;
  padding: 1rem;*/
}

#alert-container {
  margin: 0;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 1000;
}

.feed-panel .feed-panel-body {
  height: calc(100vh - 48px);
  overflow-y: scroll;
}

.activity-card-container {
  margin: 1rem auto;
}

.activity-card-body {
  position: relative;
  min-height: 8rem;
}

.activity-card-avatar {
  height: 6rem;
  width: 6rem;
  margin: 0 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.current-time {
  height: 48px;
  line-height: 48px;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .feed-panel .feed-panel-body {
    height: calc(50vh - 48px);
  }
}
